/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-md-6 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-md-6 p {
  margin-right: 10px;
  margin-left: 10px;
}

#outer-icon {
  color: #2c3147;
}

#inner-icon {
  color: #f9ffff;
}
